@page
@model MyTenantLink.Pages.Tenants.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Tenant</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tenant.CustomerId" class="control-label">Customer</label>
                <select asp-for="Tenant.CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Tenant.FirstName" class="control-label"></label>
                <input asp-for="Tenant.FirstName" class="form-control" />
                <span asp-validation-for="Tenant.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tenant.LastName" class="control-label"></label>
                <input asp-for="Tenant.LastName" class="form-control" />
                <span asp-validation-for="Tenant.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tenant.Email" class="control-label"></label>
                <input asp-for="Tenant.Email" class="form-control" />
                <span asp-validation-for="Tenant.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
